# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [41]:
import pandas as pd
import numpy as np

In [27]:
# Выбраны следующие столбцы:
#1 - Хирургия
#2 - Возраст
#5 - Пульс
#11 - боль 
#13 - Вздутие живота
#18  Живот (4-5 указывают на хирургическое вмешательство)
#20 - Общий белок
#23 - Результат: Умерла,Жива, Эфтаназия
#horse = pd.read_csv(r'E:\Pyda-20\statistics_basics\horse_data.csv',names = ['Хирургия','Возраст','Пульс','Боль','Вздутие','Живот','Общий белок','Результат'] )
horse = pd.read_csv(r'E:\Pyda-20\statistics_basics\horse_data.csv',usecols=[0,1,4,10,12,17,19,22],names = ['Хирургия','Возраст','Пульс','Боль','Вздутие','Живот','Общий белок','Результат'] )

In [47]:
horse.replace({'?':np.nan},inplace=True)
horse

    Хирургия  Возраст Пульс Боль Вздутие Живот Общий белок Результат
0          2        1    66    5       4     5        8.40         2
1          1        1    88    3       2     2          85         3
2          2        1    40    3       1     1        6.70         1
3          1        9   164    2       4   NaN        7.20         2
4          2        1   104  NaN     NaN   NaN        7.40         2
..       ...      ...   ...  ...     ...   ...         ...       ...
295        1        1   120    2     NaN     5          65         3
296        2        1    72    4       3     4         NaN         3
297        1        1    72    4       3     5        6.80         2
298        1        1   100    3       3     4        6.00         1
299        1        1    40  NaN     NaN     1          62         3

[300 rows x 8 columns]

In [72]:
horse.fillna(method='ffill')
#.describe()
#horse.describe()

    Хирургия  Возраст Пульс Боль Вздутие Живот Общий белок Результат
0          2        1    66    5       4     5        8.40         2
1          1        1    88    3       2     2          85         3
2          2        1    40    3       1     1        6.70         1
3          1        9   164    2       4     1        7.20         2
4          2        1   104    2       4     1        7.40         2
..       ...      ...   ...  ...     ...   ...         ...       ...
295        1        1   120    2       1     5          65         3
296        2        1    72    4       3     4          65         3
297        1        1    72    4       3     5        6.80         2
298        1        1   100    3       3     4        6.00         1
299        1        1    40    3       3     1          62         3

[300 rows x 8 columns]

In [65]:
horse.

SyntaxError: invalid syntax (<ipython-input-65-1cf3ede7d475>, line 1)

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.