## Домашнее задание

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.
Скачал базу:
https://files.grouplens.org/datasets/movielens/ml-25m.zip

In [4]:
import pandas as pd

In [2]:
df = pd.read_csv(r'ml-25m\ratings.csv')

In [15]:
df_film = pd.read_csv(r'ml-25m\movies.csv')

In [3]:
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [46]:
film_rating = df.merge(df_film, on='movieId', how='left')
film_rating.head()

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance

In [4]:
df[df['rating'] == 5].groupby(by=['movieId'])['movieId'].count().head(1)

movieId
1    13506
Name: movieId, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [25]:
df2 = pd.read_csv(r'power.csv')

In [6]:
df2.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [40]:
#Импортируем нампай для работы с условиями массива.
import numpy as np 
#Группируем по региону страны
df2['region'] = np.where(((df2['country'] == 'Lithuania') | (df2['country'] == 'Latvia') | (df2['country'] == 'Estonia')),'Baltic','Other')
#Считаем по условиям сумму...
df2[(df2['region'] == 'Baltic') & ((df2['category'] == 4) | (df2['category'] == 12) | (df2['category'] == 21)) & (df2['year']>=2005) & (df2['year']<=2010)].groupby(by=['region'])['quantity'].sum()

region
Baltic    240481.0
Name: quantity, dtype: float64

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [60]:
site = pd.read_html('https://www.sberometer.ru/cbr/',attrs = {'class': 'tableData'}, encoding='utf-8')

In [62]:
print(site[0])

                                         Дата  Доллар СШАUSD  ЕВРОEUR  \
0                                  18.05.2021        73.8537  89.6584
1                                  15.05.2021        73.9968  89.6249
2                                  14.05.2021        74.3566  89.9343
3                                  13.05.2021        74.0400  89.8475
4                                  12.05.2021        74.1567  90.0040
..                                        ...            ...      ...
69                                 04.02.2021        76.0801  91.5624
70                                 03.02.2021        75.9051  91.6250
71                                 02.02.2021        75.5053  91.5426
72                                 30.01.2021        76.2527  92.2963
73  Средневзвешенный курс за выбранный период        74.7640  89.8034

    Фунт стерлингов GBGBP
0                104.0672
1                104.0543
2                104.4487
3                104.6703
4                104.6277
..                    ...
69               104.0243
70               103.9444
71               103.6688
72               104.2832
73               103.8826

[74 rows x 4 columns]

In [68]:
adr1 = 'https://infoselection.ru/infokatalog/internet-i-programmy/internet-osnovnoe/item/90-50-samykh-poseshchaemykh-sajtov-runeta'
table_site = pd.read_html(adr1, encoding='utf-8')

In [69]:
table_site

[       0             1              2                    3             4
 0      N        Ресурс          Адрес             Тематика  Доля трафика
 1      1        Яндекс      yandex.ru      Поиск и сервисы        12.44%
 2      2    Google.com     google.com      Поиск и сервисы         7.93%
 3      3       Youtube    youtube.com                Видео         6.95%
 4      4     ВКонтакте         vk.com      Социальная сеть         5.78%
 ..   ...           ...            ...                  ...           ...
 96    96     Primpress   primpress.ru                  СМИ         0.09%
 97    97    Irecommend  irecommend.ru       Сервис отзывов         0.09%
 98    98       Tutu.ru        tutu.ru  Сервис бронирования         0.09%
 99    99  Яндекс Поиск          ya.ru                Поиск         0.09%
 100  100      Тинькофф     tinkoff.ru              Финансы         0.08%

 [101 rows x 5 columns],
        0                                1                 2
 0      №                   Название сайта  Посетители, тыс.
 1      1                     ВКонтакте.ру            46 165
 2      2                 Одноклассники.ru            28 634
 3      3                          Mail.Ru            18 215
 4      4          Главная страница Яндекс            17 726
 ..   ...                              ...               ...
 96    96                        НьюИнформ               439
 97    97                             ТАСС               437
 98    98                     COSMOPOLITAN               428
 99    99                        Spaces.ru               424
 100  100  Телевизионная Компания "Звезда"               424

 [101 rows x 3 columns],
      0                1                                            2  \
 0    N             Сайт                                     Описание
 1    1      Youtube.com                                 Видеохостинг
 2    2           Vk.com                              Социальная сеть
 3    3       Google.com                  Поисковая система и сервисы
 4    4        Yandex.ru                  Поисковая система и сервисы
 5    5          Mail.ru                      Почта, сервисы, порталы
 6    6         Avito.ru                              Сайт объявлений
 7    7            Ok.ru                              Социальная сеть
 8    8        Google.ru      Русскоязычная версия поискового сервиса
 9    9    Wikipedia.org                      Бесплатная энциклопедия
 10  10   Aliexpress.com                     Торговая онлайн площадка
 11  11      Sberbank.ru                     Онлайн проекты Сбербанка
 12  12      Gismeteo.ru                               Прогноз погоды
 13  13     Kinopoisk.ru                      Портал о кино и сервисы
 14  14       Rambler.ru             Информационный портал и рейтинги
 15  15    Instagram.com                              Социальная сеть
 16  16     Gosuslugi.ru                              Портал госуслуг
 17  17   Wildberries.ru                             Интернет-магазин
 18  18          Drom.ru           Информационный сайт об автомобилях
 19  19          Ozon.ru                             Интернет-магазин
 20  20      Userapi.com              Сайт хранилища данных ВКонтакте
 21  21           Ivi.ru                             Онлайн кинотеатр
 22  22            Hh.ru                        Сайт по поиску работы
 23  23        Twitch.tv                               Видеоплатформа
 24  24           Ria.ru                             Новостной портал
 25  25  Livejournal.com                               Блог-платформа
 26  26        Pikabu.ru                       Развлекательный портал
 27  27      Booking.com                          Бронирование отелей
 28  28     Facebook.com                              Социальная сеть
 29  29     Lordsfilm.tv                                Фильмы онлайн
 30  30        Gazeta.ru                     Ежедневная онлайн-газета
 31  31         Lenta.ru                             Новостной портал
 32  32        Drive2.ru           Социальная сеть для автомобилистов
 33  33       Fandom.com                    Развлекательная платформа
 34  34          2gis.ru                   Карты городов и справочник
 35  35      Vseigru.net                       Портал с онлайн играми
 36  36          Sbrf.ru                              Сбербанк онлайн
 37  37         Youla.ru                             Доска объявлений
 38  38            Kp.ru                         Интернет-сайт газеты
 39  39           Rbc.ru               Сайт информационного агентства
 40  40      Citilink.ru                         Интернет гипермаркет
 41  41    Rutracker.org                                Обмен файлами
 42  42            Rt.ru              Сайт оператора связи Ростелеком
 43  43        Mvideo.ru                             Интернет магазин
 44  44       Roblox.com                  Игровая платформа для детей
 45  45           Rzd.ru                                     Сайт РЖД
 46  46         Vesti.ru                              Телеканал Вести
 47  47      Otzovik.com                               Сервис отзывов
 48  48   Championat.com                           Спортивные новости
 49  49           Rp5.ru  Прогнозы погоды "Мет. Офиса" Великобритании
 50  50      Ficbook.net  Сборник авторских сказок и басен (фанфиков)

                             3  \
 0   Ежедневное время на сайте
 1                        8:37
 2                        9:36
 3                        8:13
 4                        6:49
 5                        4:53
 6                       13:42
 7                        4:31
 8                        3:48
 9                        4:10
 10                      11:34
 11                       7:04
 12                       2:31
 13                       2:59
 14                       4:52
 15                       5:46
 16                       4:30
 17                      15:45
 18                      11:47
 19                       6:04
 20                       4:07
 21                       2:35
 22                       9:13
 23                       5:55
 24                       3:02
 25                       4:56
 26                       5:21
 27                       8:47
 28                       9:57
 29                       1:32
 30                       2:51
 31                       3:35
 32                       6:14
 33                       5:38
 34                       2:02
 35                      16:06
 36                       0:59
 37                       7:16
 38                       2:43
 39                       2:55
 40                       5:51
 41                       6:03
 42                       2:33
 43                       5:30
 44                      16:27
 45                       9:01
 46                       2:48
 47                       3:36
 48                       5:28
 49                       2:53
 50                      18:56

                                                   4                     5
 0   Кол-во просмотров страниц на посетителя в сутки  % поискового трафика
 1                                              5.11                10.90%
 2                                              4.56                 3.60%
 3                                             11.30                 0.50%
 4                                              3.17                 0.60%
 5                                              3.19                 1.80%
 6                                             10.15                 5.10%
 7                                              2.22                 2.30%
 8                                              5.51                 2.00%
 9                                              3.11                53.70%
 10                                             9.38                 7.10%
 11                                             5.47                10.10%
 12                                             2.78                 7.10%
 13                                             3.15                19.30%
 14                                             3.23                 4.90%
 15                                             4.27                 5.40%
 16                                             5.45                 4.40%
 17                                            11.91                 5.10%
 18                                            11.20                 9.70%
 19                                             4.49                10.40%
 20                                             3.24                 2.40%
 21                                             2.47                25.00%
 22                                             6.76                 6.00%
 23                                             2.94                 5.20%
 24                                             1.79                 3.60%
 25                                             2.96                10.80%
 26                                             2.71                13.50%
 27                                             4.83                16.90%
 28                                             4.49                 7.60%
 29                                             1.80                12.00%
 30                                             1.63                 3.00%
 31                                             2.77                 3.80%
 32                                             4.52                10.10%
 33                                             4.40                40.10%
 34                                             1.56                16.40%
 35                                            10.03                11.30%
 36                                             2.44                 0.60%
 37                                             5.45                 6.00%
 38                                             1.44                13.00%
 39                                             1.74                 2.70%
 40                                             4.52                11.00%
 41                                             2.70                 5.50%
 42                                             2.16                 7.00%
 43                                             4.36                12.40%
 44                                             9.15                 5.60%
 45                                             4.35                10.50%
 46                                             1.43                 6.20%
 47                                             2.49                15.50%
 48                                             3.54                 5.50%
 49                                             1.22                 1.70%
 50                                            10.90                 4.50%  ,
     0   1
 0 NaN NaN]