## Домашнее задание к лекции.

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [3]:
import pandas as pd

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [26]:
ds = pd.read_csv(r'E:\Pyda-20\Pandas_Func\ml-latest-small\ratings.csv')

ds.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [27]:
def class_mov(rat):
    if rat<=2:
        return 'Низкий рейтинг'        
    elif rat<=4:
        return 'Средний рейтинг'
    elif rat>4:
        return 'Высокий рейтинг'
    
ds['class'] = ds.rating.apply(class_mov)

In [30]:
ds.groupby(by=['class']).count()

                 userId  movieId  rating  timestamp
class
Высокий рейтинг   22818    22818   22818      22818
Низкий рейтинг    13385    13385   13385      13385
Средний рейтинг   63801    63801   63801      63801

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [4]:
data = pd.read_csv(r'E:\Pyda-20\Pandas_Func\ml-latest-small\keywords.csv', encoding='utf-8')

data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [5]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [22]:
def geo_reg(key):    
    for i in geo_data:
        for j in geo_data[i]:            
            if key.lower().find(j) > 0:                
                return i
    return 'undefined'   
data['region'] = data['keyword'].apply(geo_reg)

In [23]:
data.groupby(by=['region']).count()

                keyword  shows
region
undefined         99314  99314
Дальний Восток       86     86
Северо-Запад        249    249
Центр               351    351

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

In [33]:
ds_mov = pd.read_csv(r'E:\Pyda-20\Pandas_Func\ml-latest-small\movies.csv')
ds_rat = pd.read_csv(r'E:\Pyda-20\Pandas_Func\ml-latest-small\ratings.csv')
print(ds_mov.head(),ds_rat.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy      userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [55]:
year = [str(i) for i in range(1950,2021)]

In [52]:
def set_year(str):
    for i in year:
        if str.find(i)>0:
            return int(i)
    return 1900

In [56]:
ds_mov['Years']=ds_mov['title'].apply(set_year)

In [58]:
ds_mov.groupby(by=['Years']).count()

       movieId  title  genres
Years
1900       468    468     468
1950        27     27      27
1951        23     23      23
1952        27     27      27
1953        36     36      36
...        ...    ...     ...
2012       223    223     223
2013       223    223     223
2014       221    221     221
2015       182    182     182
2016        65     65      65

[68 rows x 3 columns]

In [61]:
films_ratings = ds_mov.merge(ds_rat, on='movieId', how='left')

In [78]:
films_ratings.groupby(by=['Years'])['rating'].mean().sort_values(ascending=False)

Years
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2011    3.401188
2015    3.371028
2013    3.357399
2000    3.356104
2016    3.217742
Name: rating, Length: 68, dtype: float64