## Домашнее задание к лекции.

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [4]:
import pandas as pd

ds = pd.read_csv(r'E:\Pyda-20\Pandas_Func\ml-latest-small\ratings.csv')

ds.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [17]:
def class_mov(rat):
    if rat<=2:
        return 'Низкий рейтинг'        
    elif rat<=4:
        return 'Средний рейтинг'
    elif rat>4:
        return 'Высокий рейтинг'
    
ds['class'] = ds.rating.apply(class_mov)

In [30]:
print (ds.head())
print(ds.tail(10))

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг
        userId  movieId  rating   timestamp            class
99994      671     5952     5.0  1063502716  Высокий рейтинг
99995      671     5989     4.0  1064890625  Средний рейтинг
99996      671     5991     4.5  1064245387  Высокий рейтинг
99997      671     5995     4.0  1066793014  Средний рейтинг
99998      671     6212     2.5  1065149436  Средний рейтинг
99999      671     6268     2.5  1065579370  Средний рейтинг
100000     671     6269     4.0  1065149201  Средний рейтинг
100001     671     6365     4.0  1070940363  Средний рейтинг
100002     671     6385     2.5  1070979663  Средний рейтинг
100003     671     6565     3.5  1074784724  Средний рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [57]:
data = pd.read_csv(r'E:\Pyda-20\Pandas_Func\ml-latest-small\keywords.csv', encoding='utf-8')

data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [58]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [59]:
def geo_reg(key):    
    for i in geo_data:
        if key in geo_data[i]:
            return i
    return 'undefined'   
data['region'] = data['keyword'].apply(geo_reg)

In [60]:
data.groupby(by=['region']).count()

                keyword  shows
region
undefined         99991  99991
Дальний Восток        3      3
Северо-Запад          3      3
Центр                 3      3

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»